@import "utils";

.main-top {
  top: 0;
  left: 0;
  height: 37rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .background-img {
    position: absolute;
    height: inherit;
    width: 100%;
    opacity: 0.6;
    z-index: 5;
    img {
      height: inherit;
      width: 100%;
    }
  }
  .moto {
    z-index: 10;
    font-size: 1.5rem;
    padding-bottom: 15rem;

    h1 {
      font-weight: 600;
      margin-left: -25rem;
      margin-top: 8rem;
    }

    @include media("<1140px") {
      & {
        display: none;
      }
    }
  }
  .quick-menu {
    opacity: 1;
    z-index: 20;
    justify-content: center;
    align-content: center;
    padding: 3rem;

    .quick-back {
      width: 65rem;
      height: 5rem;
      background-color: black;
      opacity: 0.5;
      z-index: 10;
    }

    ul {
      margin-top: -3.5rem;
      position: absolute;
      display: flex;
      color: white;
      z-index: 20;

      span {
        padding-left: 1rem;
        font-size: 2.2rem;
        font-weight: 100;
      }
      li {
        padding-left: 1rem;
        font-size: 1.2rem;

        .icon {
          padding-right: 0.5rem;
          font-size: 2.2rem;
        }
        form {
          margin: 0.4rem;
          font-size: 1.2rem;
          display: flex;
          .tex-check {
            cursor: auto;
          }
          input {
            border: none;
            margin-left: 1rem;
            width: 7rem;
            font-size: 1rem;
            height: 1.5em;
            margin-top: -0.2rem;
          }
          .search-icon {
            background-color: white;
            color: $oc-gray-7;
            margin-top: -0.2rem;
          }
        }
        .outsourcing {
          width: 7rem;
          height: 3rem;
          background-color: $oc-blue-7;
          display: flex;
          margin-top: -0.5rem;
          padding: -4rem;
          justify-content: center;
          align-items: center;
          margin-right: 5rem;
        }
      }
    }
    @include media("<1140px") {
      & {
        display: none;
      }
    }
  }
  @include media("<medium") {
    height: 35rem;
  }
  @include media("<400px") {
    height: 15rem;
  }
}
